body {
    font-family: 'DM Sans', sans-serif;
    cursor: url("u.png"), auto;
}

a {
    cursor: url("u.png"), auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
    box-align: center;
    text-align: center;
    color: black;
}

p{
    text-align: center;
}


.cover {
    height: 400px;
    color: white;
    background-image: url('./images/11.jpg');
    background-size: cover;
    background-position:center;
    background-color: rgba(0,0,0, 0.60);
    background-blend-mode: darken;
} 


.cover-small {
    height: 300px;
    background-blend-mode: normal;
}

.card {
    border:0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0, 0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.card-title{
    min-height: 3rem;
}
.card-text{
    min-height: 10 rem;
}
.product-stripe, .slider{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.stripe-container, .slider-container{
    display: flex;
}
.stripe-container .card{
    width:300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.responsive-iframe{
    position:relative;
    padding-top: 56.25%;
}

.responsive-iframe iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.image-container{
    width:100%;
    padding-top:50%;
    background-size:cover;
    background-position: center;
    flex-shrink:0;
}

.slider{
    overflow-x:hidden;
}

.slider-container{
    transform: translateX(0);
    animation: slider 10s infinite;
}


.avatar{
  width: 100px;
  height: 100px;
  background-size:cover;
  background-position: center;
  align-self:center;
  margin: o auto;
}

@keyframes slider {
    0% {
      transform: translateX(0);
    }
    15% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-100%);
    }
    35% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-200%);
    }
    55% {
      transform: translateX(-200%);
    }
    60% {
      transform: translateX(-300%);
    }
    75% {
      transform: translateX(-300%);
    }
    80% {
      transform: translateX(-400%);
    }
    95% {
      transform: translateX(-400%);
    }
    105% {
      transform: translateX(0%);
    }
  }

